In [1]:
from sqlalchemy import create_engine
import pandas as pd
from datetime import timedelta,datetime

In [2]:
DB = "dm"
engine = create_engine(f'postgresql://localhost:5432/{DB}')

In [3]:
sql_23 = """select 
gst.route_id,
gst.service_id as st_service_id,
gscd.service_id  as cd_service_id,
gst.trip_id as gst_trip_id,
st.trip_id as st_trip_id,
gst.trip_headsign,
gst.direction_id,
gst.block_id,
gst.shape_id,
st.arrival_time,
st.departure_time,
st.stop_id,
st.stop_sequence,
st.pickup_type,
st.drop_off_type,
gscd."date" as cd_date,
gscd."day" as cd_day from "gtfs23Sept_stop_times" st 
left join
"gtfs23Sept_trips" gst on st.trip_id = gst.trip_id 
left join "calendar23sept" gscd on gst.service_id =gscd.service_id
"""
sql_3 = """select gst.route_id,
gst.service_id as st_service_id,
gscd.service_id  as cd_service_id,
gst.trip_id as gst_trip_id,
st.trip_id as st_trip_id,
gst.trip_headsign,
gst.direction_id,
gst.block_id,
gst.shape_id,
st.arrival_time,
st.departure_time,
st.stop_id,
st.stop_sequence,
st.pickup_type,
st.drop_off_type,
gscd."date" as cd_date,
gscd."day" as cd_day from "gtfs3Sept_stop_times" st 
left join
"gtfs3Sept_trips" gst on st.trip_id = gst.trip_id 
left join "calendar3sept" gscd on gst.service_id =gscd.service_id
"""

In [ ]:
df_23 = pd.read_sql(sql_23, engine)

In [ ]:
t=timedelta(days=1)

In [ ]:
df_23['processed_arrival_time'] = df_23.apply(lambda x: f"{str(int(x['arrival_time'].split(':')[0])%24)}:{':'.join(x['arrival_time'].split(':')[1:])}", axis=1)
df_23['processed_arrival_date'] = df_23.apply(lambda x: x["cd_date"]+t if int(x['arrival_time'].split(':')[0])>23 else x["cd_date"], axis=1)
df_23['processed_arrival_datetime'] = df_23.apply(lambda x: datetime.strptime(f"{x['processed_arrival_date']} {x['processed_arrival_time']}","%d/%m/%Y %H:%M:%S"), axis=1)

In [6]:
df_23.head()

,route_id,st_service_id,cd_service_id,gst_trip_id,st_trip_id,trip_headsign,direction_id,block_id,shape_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type,cd_date,cd_day
0,14,237259001,237259001,113275585237259001,113275585237259001,JULES BORDET,0,8934824,069b0002,15:41:00,15:41:00,3107,1,0,0,2021-09-20,Monday
1,14,237259001,237259001,113275585237259001,113275585237259001,JULES BORDET,0,8934824,069b0002,15:41:00,15:41:00,3107,1,0,0,2021-09-21,Tuesday
2,14,237259001,237259001,113275585237259001,113275585237259001,JULES BORDET,0,8934824,069b0002,15:41:00,15:41:00,3107,1,0,0,2021-09-22,Wednesday
3,14,237259001,237259001,113275585237259001,113275585237259001,JULES BORDET,0,8934824,069b0002,15:41:00,15:41:00,3107,1,0,0,2021-09-23,Thursday
4,14,237259001,237259001,113275585237259001,113275585237259001,JULES BORDET,0,8934824,069b0002,15:41:00,15:41:00,3107,1,0,0,2021-09-24,Friday

In [18]:
! ls

combine_data.ipynb            initial_data_processing.ipynb
data_preprocessing.py         process_stop_times.py

In [27]:
df_3 = pd.read_sql(sql_3, engine)